/module01/lab/InfixPrefixPostfix/build/
/module01/lab/InfixPrefixPostfix/dist/
/module02/lab/ServiceDeskSimulation/build/
/module02/lab/ServiceDeskSimulation/dist/
/module03/lab/Palindrome/build/
/module03/lab/Palindrome/dist/
/module04/lab/BinaryTrees/build/
/module04/lab/BinaryTrees/dist/
/course-project/BankReceptionSim/build/
/course-project/BankReceptionSim/dist/
/module05/lab/QuickSort/build/
/module05/lab/QuickSort/dist/
/module06/lab/SortArrays/build/
/module06/lab/SortArrays/dist/