/module01/lab/InfixPrefixPostfix/build/
/module01/lab/InfixPrefixPostfix/dist/
/module02/lab/ServiceDeskSimulation/build/
/module02/lab/ServiceDeskSimulation/dist/
/module03/lab/Palindrome/build/
/module03/lab/Palindrome/dist/